@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@200&family=Charis+SIL:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Charis+SIL, sans-serif;
    font-weight: 300;
}